* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background: transparent; /* Adjusted opacity to make the navbar more transparent */
    z-index: 10;
    position: fixed; /* Keeps the navbar fixed on top */
    top: 0;
    left: 0;
    width: 100%;
    
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}



.navlogo img {
    width: 60px
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    font-weight: 50;
    text-decoration: none;
    color: white;
}

nav ul li a img {
    color: white
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.icon {
    width: 30px;
    height: 30px;
    fill: white; /* Change color */
}

.icon:hover {
    fill: red; /* Change color on hover */
}

.navbar.scrolled {
    background-color: white; /* White background when scrolled */
    color: #333; /* Dark text for readability */
  }
  
  .navbar.scrolled ul li a {
    color: #333; /* Dark text for links */
  }