* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0); /* Adjusted opacity to make the navbar more transparent */
    z-index: 10;
    position: fixed; /* Keeps the navbar fixed on top */
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px); /* Optional: Adds a blur effect behind the navbar */
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    font-weight: 50;
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
